<div class=" comment-<%= comment.id %> container rounded"
     style="box-shadow: 1px 1px 5px black; margin: 1em; padding: 1em;">
    <span style="font-style: italic;"> <%= comment.user.email %> </span> <br />
    <% if (comment.updated_at - comment.created_at) > 1 %>
        <span class="time">
            Updated <%= time_ago_in_words(comment.updated_at)%> ago
        </span>
    <% else %>
        <span class="time" >
            Posted <%= time_ago_in_words(comment.created_at)%> ago 
        </span>
    <% end %>

    <% if comment.user == current_user %>
        <div class="btn-group float-end ">
            <%= link_to "Edit", nil, remote: :true, class: "btn btn-outline-warning py-1 mx-2", 
                data: {
                    controller: 'comments',
                    action: "comments#toggleForm",
                    comments_form_param: "edit-form-#{comment.id}",
                    comments_body_param: "comment-body-#{comment.id}",
                } 
            %>
            <%= button_to "Delete", [post, comment], class: "btn btn-outline-danger py-1", method: :delete %>
        </div>
        <div id="edit-form-<%= comment.id%>" class="d-none">
            <%= render "comments/form", 
              post: @post, 
              comment: comment, 
              submit_label: "Update" %>
        </div>
    <% end %>
    <hr />
    <div>
    </div id="comment-body-<%= comment.id%>">
        <%= comment.body%>
    </div>

<style>
    .time{
        font-size: 12px; 
        color: darkcyan;
    }
</style>
