<div class="container cover rounded w-75 my-4 p-3 bg-light">
    <%= render @post %>
    <div>
      <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-outline-success py-1 my-1 " %> |
      <%= link_to "Back to posts", posts_path, class: "btn btn-outline-primary py-1 my-1 " %>
      <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-outline-danger py-1 my-1" %>
    </div>
</div>

<div class="container">
  <%= render "comments/form", post: @post %>
</div>






<style>
  .cover{
    box-shadow: 1px 1px 5px gray;
  }
</style>
